@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>
<hr>
@if(@Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId } )</li>
    }
  </ul>
}
else
{
  <h4>There aren't any recipes yet!</h4>
}
<br>
<p>@Html.ActionLink("Add new recipe", "Create")</p>