@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model IEnumerable<RecipeBox.Models.Ingredient>;

<h1>Ingredients for @User.Identity.Name</h1>
<hr>
@if(@Model.Any())
{
  <ul>
  @foreach (Ingredient ingredient in Model)
  {
    <li>@Html.ActionLink($"{ingredient.Name}", "Details", new { id = ingredient.IngredientId})</li>
  }
  </ul>
}
else
{
  <h3>No ingredients have been added yet!</h3>
}

<p>@Html.ActionLink("Add a new ingredient", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>