@{
  Layout = "_Layout";
}

<h1>Recipe Box</h1><br><br>
<hr>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("See all tags", "Index", "Tags", new {@class="link"})</p>
<p>@Html.ActionLink("See all recipes", "Index", "Recipes", new {@class="link"})</p>
<p>@Html.ActionLink("See all ingredients", "Index", "Ingredients", new {@class="link"})</p>