@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model IEnumerable<RecipeBox.Models.Tag>

<h1>Tags for @User.Identity.Name</h1>
<hr>
@if(@Model.Any())
{
  <ul>
  @foreach(Tag tag in Model)
  {
    <li>@Html.ActionLink($"{tag.Name}", "Details", new { id = tag.TagId } )</li>
  }
  </ul>
}
else
{  
  <h3>There aren't any tags yet!</h3>
}
<br>
<p>@Html.ActionLink("Add new tag", "Create")</p>